/* FUENTE RONDAL*/

@font-face {
    font-family: 'rondalbold';
    src: url('./fonts/rondal-bold-webfont.woff2') format('woff2'),
         url('./fonts/rondal-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rondalregular';
    src: url('./fonts/rondal-regular-webfont.woff2') format('woff2'),
         url('./fonts/rondal-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rondalsemibold';
    src: url('./fonts/rondal-semibold-webfont.woff2') format('woff2'),
         url('./fonts/rondal-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    background: #212123;
}

body{
    width: 100%;
    height: 100%;
    font-family: rondalsemibold;
}

header{
    display: flex;
    width: 100%;
    height: auto;
}

.logo{
    width: 200px;
    margin-left: 30%;
}


.barra-nav{
    width: 100%;
    text-align: center;
    margin-right: 10%;
}

nav li{
    display: inline-flex;
    padding-top: 65px;
}

nav a{
    text-transform: uppercase;
    color: #e1e1e1;
    font-size: 30px;
    text-decoration: none;
    padding: 20px;
}

/* EFECTO HOVER SOBRE LOS ELEMENTOS DEL NAV */

nav a:hover{
    color: #ad987d;
    text-decoration: underline;
}



/* CSS - SERVICIOS */


h2{
    display: inline-block;
    position: relative;
    font-size: 50px;
    color: #e1e1e1;
    margin: 3% 0 2% 13%;
}

h2::before{
    content: '';
    position: absolute;
    width: 75px;
    height: 7px;
    background-color: #ad987d;
    top: 0.6em;
}

h2::before{
    left: -100px;
}

.serv-1{
    display: inline-flex;
    margin: 0 0 1.5% 3%;
}

.container{
    width: 100%;
    display: flex;
}

.container figure{
    transition: all 500ms ease;
}

.container figure img{
    transition: all 500ms ease;
}

/* EFECTO HOVER + TRANSFORM 2D (SCALE) */

.container figure img:hover{
    content: url('../imagenes/serv-corte-color.png');
    transform: scale(1.07);
}

.img-serv1{
    padding-top: 1%;
}

.serv-1-detalles{
    padding: 1%;
}

.titulo-icono-1{
    display: flex;
    padding: 3% 0 4% 7%;
}

.titulo-icono-1 img{
    width: 80px;
}

.titulo-icono-1 h3{
    font-size: 40px;
    color: #e1e1e1;
    padding: 1.5% 0 0 1%;
}

.serv-1-detalles p{
    font-family: rondalregular;
    font-size: 24px;
    line-height: 1.5;
    color: #ad987d;
    padding: 2% 0 0 8%;
}

.texto1{
    width: 75%;
    text-align: left;
    margin-left: 2%;
}

.titulo-icono-2{
    display: flex;
    padding: 3% 0 2% 3%;
}

.titulo-icono-2 h3{
    font-size: 40px;
    color: #e1e1e1;
    padding: 0.9% 0 0 0.5%;
}

.titulo-icono-2 img{
    width: 80px;
}

.serv-2-detalles p{
    font-family: rondalregular;
    font-size: 24px;
    line-height: 1.5;
    color: #ad987d;
    padding: 4% 0 0 4%;
}

.texto2{
    width: 60%;
    text-align: left;
    margin-left: 2.5%;
}

.serv-2{
    display: inline-flex;
    margin-bottom: 1.5%;
}

.container2{
    width: 100%;
    display: flex;
}

/* EFECTO HOVER + TRANSFORM 2D (SCALE) */

.container2 figure{
    transition: all 500ms ease;
}

.container2 figure img{
    transition: all 500ms ease;
}

.container2 figure img:hover{
    content: url('../imagenes/serv-niños-color.png');
    transform: scale(1.07);
}

.img-serv2{
    margin-left: 11%;
}
.serv-2-detalles{
    margin-top: 3%;
    margin-left: 3%;
}

.serv-3{
    display: inline-flex;
    margin-left: 3%;
    margin-bottom: 2%;
}

.container3{
    width: 100%;
    display: flex;
}

/* EFECTO HOVER + TRANSFORM 2D (SCALE) */

.container3 figure{
    transition: all 500ms ease;
}

.container3 figure img{
    transition: all 500ms ease;
}

.container3 figure img:hover{
    content: url('../imagenes/serv-aseo-color.png');
    transform: scale(1.07);
}

.serv-3-detalles{
    margin-top: 1%;
    margin-left: 1%;
}

.titulo-icono-3{
    display: flex;
    padding: 3% 0 0 7%;
}

.titulo-icono-3 img{
    width: 130px;
}

.titulo-icono-3 h3{
    font-size: 40px;
    color: #e1e1e1;
    padding: 4% 0 0 0;
}

.serv-3-detalles p{
    font-family: rondalregular;
    font-size: 24px;
    line-height: 1.5;
    color: #ad987d;
    padding: 1% 0 0 14%;
}

.texto3{
    width: 65%;
    text-align: left;
    margin-left: 2%;
}

.titulo-icono-4{
    display: flex;
    padding: 3% 0 4% 3%;
}

.titulo-icono-4 h3{
    font-size: 40px;
    color: #e1e1e1;
    padding: 2% 0 0 0.5%;
}

.titulo-icono-4 img{
    width: 70px;
}

.serv-4-detalles p{
    font-family: rondalregular;
    font-size: 24px;
    line-height: 1.5;
    color: #ad987d;
    padding: 4% 0 0 4%;
}

.texto4{
    width: 60%;
    text-align: left;
    margin-left: 2.5%;
}

.serv-4{
    display: inline-flex;
    margin-bottom: 3%;
}

.container4{
    width: 100%;
    display: flex;
}

/* EFECTO HOVER + TRANSFORM 2D (SCALE) */

.container4 figure{
    transition: all 500ms ease;
}

.container4 figure img{
    transition: all 500ms ease;
}

.container4 figure img:hover{
    content: url('../imagenes/serv-fomento-color.png');
    transform: scale(1.07);
}

.img-serv4{
    margin-left: -7%;
}

.serv-4-detalles{
    margin-top: 3%;
    margin-left: 3%;
}

.container5{
    width: 100%;
    display: flex;
}

/* EFECTO HOVER + TRANSFORM 2D (SCALE) */

.container5 figure{
    transition: all 500ms ease;
}

.container5 figure img{
    transition: all 500ms ease;
}

.container5 figure img:hover{
    content: url('../imagenes/serv-afeitado-color.png');
    transform: scale(1.07);
}

.divisor-img{
    width: 150px;
    padding-right: 150px;
}

html .lista-precio{
    text-align: center;
}

h4{
    display: inline-block;
    position: relative;
    font-size: 50px;
    color: #e1e1e1;
    margin: 3% 0 2% 10%;
}

h4::after,h4::before{
    content: "";
    position: absolute;
    width: 600px;
    height: 3px;
    background-color: #ad987d;
    top: 1.2em;
}

h4::before{
    left: -620px;
}

h4::after{
    right: -480px;
}

.titulo-precio h3{
    font-family: rondalsemibold;
    font-size: 40px;
    text-transform: uppercase;
}

/* ANIMACIÓN LISTA DE PRECIOS (cambia de color sutil) */

.titulo-precio h3{
  color: #e1e1e1;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count:infinite;
  animation-timing-function: linear;
}

@keyframes example {
  25%   {color: #e1e1e1;}
  25%  {color: #ad987d;}
  25%  {color: #e1e1e1;}
  25% {color: #ad987d;}
}

.contenedor-lista{
    width: 50%;
    align-self: center;
    font-family: rondalregular;
    font-size: 25px;
    text-transform: uppercase;
    margin: 3% 25% 0 25%;
}

.list-serv{
    color: #ad987d;
}
.list-precio{
    color: #e1e1e1;
}

.items{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1%;
}

h6{
    display: inline-block;
    position: relative;
    font-size: 50px;
    color: #e1e1e1;
    margin: -1% 0 0 10%;
}

h6::before{
    content: '';
    position: absolute;
    width: 765px;
    height: 2px;
    background-color: #ad987d;
    top: -0.4em;
}

h6::before{
    left: -420px;
}

footer {
    padding-left: 4%;
    margin-top: 5%;
}

.footer-div{
    display: flex;
    margin-top: -1.5%;
}

.logo-footer{
    width: 200px;
    margin-left: 3%;
}

.barra-nav-f{
    display: inline;
    padding-left: 15%;
}

.datos{
    font-family: rondalregular;
    font-size: 18px;
    color: #e1e1e1;
    line-height: 1.3;
    padding-top: 3%;
    padding-left: 1%;
}

.datos a{
    text-decoration: none;
    color: #ad987d;
}

.tel-icono{
    display: flex;
}

.tel{
    width: 30px;
}

.telefono{
    padding-top: 2%;
}

.copy{
    text-align: center;
}

h5{
    display: inline-block;
    position: relative;
    font-size: 50px;
    color: #e1e1e1;
    margin: -1% 0 3% 10%;
}

h5::before{
    content: '';
    position: absolute;
    width: 1280px;
    height: 4px;
    background-color: #ad987d;
    top: 0.6em;
}

h5::before{
    left: -750px;
}

#foy{
    font-family: rondalregular;
    color: #e1e1e1;
    margin-bottom: 2%;
}



/* CSS - GALERIA */

.nuestrostrabajos{
    text-align: center;
    font-family: rondalsemibold;
    font-size: 50px;
    color: #e1e1e1
}

.nuestrostrabajos::before{
    content: '';
    position: absolute;
    width: 75px;
    height: 7px;
    background-color: #ad987d;
    margin-top: 20px;
}

.nuestrostrabajos::before{
    left: 490px;
}

.nuestrostrabajos::after{
    content: '';
    position: absolute;
    width: 75px;
    height: 7px;
    background-color: #ad987d;
    margin-top: 20px;
}

.nuestrostrabajos::after{
    left: 960px;
}

/* ANIMACIÓN del TITULO "Nuestro Trabajo y Clientes" (cambia de color sutil)*/

.nuestrostrabajos, .clientes h2{
  color: #e1e1e1;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count:infinite;
  animation-timing-function: linear;
}

@keyframes example {
  25%   {color: #e1e1e1;}
  25%  {color: #ad987d;}
  25%  {color: #e1e1e1;}
  25% {color: #ad987d;}
}

/* CARRUSEL DE IMG (solo con css)*/

.slider {
    width: 1000px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 1000%;
    
    animation: slide 50s infinite alternate;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
    height: 80%;
}

@keyframes slide {
    0% {margin-left: 0%;}
    5% {margin-left: 0%;}

    10% {margin-left: -100%;}
    15% {margin-left: -100%;}

    20% {margin-left: -200%;}
    25% {margin-left: -200%;}

    30% {margin-left: -300%;}
    35% {margin-left: -300%;}

    40% {margin-left: -400%;}
    45% {margin-left: -400%;}

    50% {margin-left: -500%;}
    55% {margin-left: -500%;}

    60% {margin-left: -600%;}
    65% {margin-left: -600%;}

    70% {margin-left: -700%;}
    75% {margin-left: -700%;}

    80% {margin-left: -800%;}
    85% {margin-left: -800%;}

    90% {margin-left: -900%;}
    95% {margin-left: -900%;}
}

.clientes {
    text-align: center;
    margin: -4% 10% 0 0;
}

.clientes h2{
    font-family: rondalsemibold;
    font-size: 50px;
    color: #e1e1e1;
}

.clientes h2::before{
    content: '';
    position: absolute;
    width: 105px;
    height: 3px;
    background-color: #ad987d;
    margin-top: 30px;
}

.clientes h2::before{
    left: 25px;
}

.clientes-info{
    text-align: center;
    font-family: rondalregular;
    font-size: 22px;
    color: #e1e1e1;
    margin: 0.5% 0 4% 0;
}

/* CSS - API "reviews" */

.style1{
    margin: auto;
    width: 80%;
}

.style2::-webkit-scrollbar{
    width: 4px;
    height: 5px;
    background: none;
}

.style2::-webkit-scrollbar-thumb{
    height: 5px;
    background: rgba(175, 152, 125, 0.10);
    border-radius: 10px;
    border-color: black;
}

.style2{
    display: flex;
    overflow: auto;
    padding-bottom: 1rem;
}

.style2 .style_card{
    flex: 0 0 auto;
    margin: 1rem;
    width: 30%;
    padding: 3%;
}

.style3{

    align-self: flex-end;
    max-width: 100%;
    user-select: none;
    border-radius: 4px;
    min-height: 290px;
    max-height: 290px;
    overflow: auto;
    background-color: rgb(173 152 125 / 73%);
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
}

.style4{
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 7%;
    height: 75px;
}

.style4 img{
    border-radius: 7px;
    box-shadow: 0px 0px 15px 5px rgba(33, 33, 35, 0.4);
}

.n-cliente{
    font-family: rondalbold;
    font-size: 30px;
    color: #212123;
    margin: 0 0 15% 7%;
}

.style5{
    font-family: rondalbold;
    font-size: 18px;
    color: #212123;
    margin: -5% 0 15% 40%;
}

.style6{
    font-family: rondalsemibold;
    font-size: 24px;
    line-height: 1.3;
    color: #212123;
}

/* CSS - IFRAME */

.video{
    margin: 7% 0 3% 7%;
    font-family: rondalsemibold;
    font-size: 30px;
    color: #e1e1e1;
}

.video::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 4px;
    background-color: #ad987d;
    margin-top: 15px;
}

.video::before{
    left: 35px;
}

iframe{
    margin: 0 20% 0 20%;
}




/* CSS - CONTACTO */

.contacto {
    text-align: center;
    margin: 0 10% 0 0;
}

.contacto h2{
    font-family: rondalsemibold;
    font-size: 50px;
    color: #e1e1e1;
}

.contacto h2::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: #ad987d;
    margin-top: 30px;
}

.contacto h2::before{
    left: 27px;
}

.contacto h2{
  color: #e1e1e1;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count:infinite;
  animation-timing-function: linear;
}

.seccion-formulario{
    max-width: 900px;
    width: 90%;
    margin: auto;
    padding: 40px;
    font-family: rondalregular;
}

.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.formulario__label {
    display: block;
    font-size: 22px;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
    color: #e1e1e1;
}

.formulario__grupo-input {
    position: relative;
}

.formulario__input{
    font-family: rondalsemibold;
    font-size: 16px;
    padding-left: 7px;
    color: #212123;
    width: 95%;
    background: #ad987d;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 35px;
    line-height: 45px;
    transition: .3s ease all;
}
.formulario__input:focus{
    border: 3px solid #e1e1e1;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario__input-error{
    font-size: 15px;
    color: #e1e1e1;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo{
    display: block;
    margin-top: 2%;
    padding-left: 7px;
    line-height: 1.5;
}

.formulario__validacion-estado{
    position: absolute;
    right: 20px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.formulario__checkbox{
    margin-right: 10px;
}

.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar {
    grid-column: span 2;
}

.formulario__mensaje{
    height: 45px;
    line-height: 45px;
    background: #f66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario__mensaje-activo{
    display: block;
}

.formulario__mensaje p{
    margin: 0;
}

.formulario__grupo-btn-enviar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__btn{
    font-family: rondalbold;
    font-size: 20px;
    font-weight: 700;
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: #e1e1e1;
    color: #212123;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 500ms ease all;
    margin-top: 3%;
}

.formulario__btn:hover{
    transform: scale(1.07);
}

.formulario__mensaje-exito{
    font-family: rondalsemibold;
    font-size: 16px;
    color: #119200;
    margin-top: 2%;
    display: none;
}

.formulario__mensaje-exito-activo {
    display: block;
}

textarea{
    resize: none;
}

#mensaje{
    height: 80px;
}

#mensaje::-webkit-scrollbar{
    width:7px;
    background: none;
}

#mensaje::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.30);
    border-radius: 10px;
    border-color: black;
}


/* CSS - ICONOS DE VALIDACION */

.formulario__grupo-correcto .formulario__validacion-estado {
    color: #008636;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: #bb2929;
    opacity: 1;
}

@media screen and (max-width: 800px){
    .formulario{
        grid-template-columns: 1fr;
    }
    .formulario__grupo-terminos,
    .formulario__mensaje,
    .formulario__grupo-btn-enviar {
        grid-column: 1;
    }
}

.horarios {
    text-align: center;
    margin: 0 10% 0 0;
}

.horarios h2{
    font-family: rondalsemibold;
    font-size: 50px;
    color: #e1e1e1;
}

.horarios h2::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: #ad987d;
    margin-top: 30px;
}

.horarios h2::before{
    left: 31px;
}
.horarios h2{
  color: #e1e1e1;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count:infinite;
  animation-timing-function: linear;
}

@keyframes example {
  25%   {color: #e1e1e1;}
  25%  {color: #ad987d;}
  25%  {color: #e1e1e1;}
  25% {color: #ad987d;}
}

.linea{
    display: inline-block;
    position: relative;
    font-size: 50px;
    color: #e1e1e1;
    margin: -1% 0 0 10%;
}

.linea::before{
    content: '';
    position: absolute;
    width: 765px;
    height: 2px;
    background-color: #ad987d;
    top: -0.4em;
}

.linea::before{
    left: -80px;
}

.seccion-mapa{
    display: flex;
    width: 100%;
    margin-top: 5%;
}

