/* fuente Rondal */
@font-face {
    font-family: 'rondalbold';
    src: url('./fonts/rondal-bold-webfont.woff2') format('woff2'),
         url('./fonts/rondal-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rondalregular';
    src: url('./fonts/rondal-regular-webfont.woff2') format('woff2'),
         url('./fonts/rondal-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rondalsemibold';
    src: url('./fonts/rondal-semibold-webfont.woff2') format('woff2'),
         url('./fonts/rondal-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html{
    background: #212123;
}
body{
    width: 100%;
    height: 100%;
    background-image: url('../imagenes/fondo.png');
    background-repeat: no-repeat;
    background-size: 100vw;

    font-family: rondalsemibold;
}
header{
    display: flex;
    width: 100%;
    height: auto;
}

.logo{
    width: 275px;
    margin-left: 15%;
}

.barra-nav{
    width: 100%;
    text-align: center;
    margin-right: 12%;
}

nav li{
    display: inline-flex;
    padding-top: 80px;
}

nav a{
    text-transform: uppercase;
    color: #e1e1e1;
    font-size: 40px;
    text-decoration: none;
    padding: 20px;
}

nav a:hover{
    color: #ad987d;
    text-decoration: underline;
}

section h2{
    font-family: rondalsemibold;
    font-size: 45px;
    color: #e1e1e1;
    line-height: 1.2;
    padding: 8% 0 0 5%;
}
.slogan{
    width: 35%;
    color: #ad987d;
    font-family: rondalsemibold;
    font-size: 25px;
    line-height: 1.5;
    padding: 2% 0 0 5%;
}

.nosotros{
    width: 95%;
    display: inline-flex;
    margin-top: 12%;
}
.imagen1{
    width: 126%;
    margin: 0 2% 0 2%;  
}

h3{
    display: inline-block;
    position: relative;
    font-size: 70px;
    color: #e1e1e1;
    margin: 3% 0 2% 35%;
}

h3::before{
    content: '';
    position: absolute;
    width: 90px;
    height: 7px;
    background-color: #ad987d;
    top: 0.6em;
}

h3::before{
    left: -115px;
}

.info1{
    text-transform: uppercase;
    font-size: 45px;
    color: #e1e1e1;
    line-height: 1.5;
    padding: 5% 0 2% 25%;
}

.info2{
    width: 65%;
    font-family: rondalregular;
    color: #ad987d;
    font-size: 25px;
    line-height: 1.5;
    padding: 3% 0 0 25%;
}

h4{
    display: inline-block;
    position: relative;
    font-size: 70px;
    color: #e1e1e1;
    margin: 3% 0 0 12%;
}
h4::before{
    content: '';
    position: absolute;
    width: 90px;
    height: 7px;
    background-color: #ad987d;
    top: 0.6em;
}
h4::before{
    left: -115px;
}

.equipo{
    width: 90%;
    display: flex;
    margin: 0 5% 0 2.5%
}

.contenedor-imgA{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor-imgA figure{
    position: relative;
    box-shadow: 0px 1px 15px rgba(173, 152, 125, 0.3);
}

.contenedor-imgA figure img{
    width: 130%;
    height: 130%;
    transition: all 500ms ease-out;
}

.contenedor-imgA figure .capa1{
    position: absolute;
    top: 0;
    width: 130%;
    height: 100%;
    background-color: rgba(175, 152, 125, 0.9);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.contenedor-imgA figure:hover > .capa1{
    opacity: 1;
    visibility: visible;
}

.contenedor-imgA figure:hover > .capa1 p{
    margin-top: 250px;
    margin-bottom: 30px;
}

.contenedor-imgA figure .capa1 p{
    font-family: rondalbold;
    font-size: 45px;
    color: #212123;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;
}

.contenedor-imgA figure .capa1 button{
    font-family: rondalregular;
    font-size: 22px;
    color: #212123;
    padding: 6px;
    background: transparent;
    border: 3px solid #212123;
    border-radius: 6px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer; 
}

.contenedor-imgA figure .capa1 button:hover {
    background-color: #212123;
    color: white;
 }

.contenedor-img2{
    background: #e1e1e1;
    vertical-align: middle;
}
.img-1, .img-2, .img-3, .img-4, .img-5, .img-6{
    width: 10%;
    vertical-align: middle;
    padding: 3%;
}

footer{
    padding-left: 4%;
}
.footer-div{
    display: flex;
}
.logo-footer{
    width: 275px;
    margin-left: 3%;
}
.barra-nav-f{
    display: inline;
    padding-left: 15%;
    padding-top: 2%;
}
.datos{
    font-family: rondalregular;
    font-size: 18px;
    color: #e1e1e1;
    line-height: 1.3;
    padding-top: 4.5%;
    padding-left: 1%;
}

.datos a{
    text-decoration: none;
    color: #ad987d;
}

.tel-icono{
    display: flex;
}
.tel{
    width: 30px;
}
.telefono{
    padding-top: 2%;
}
.copy{
    text-align: center;
}

h5{
    display: inline-block;
    position: relative;
    font-size: 50px;
    color: #e1e1e1;
    margin: -1% 0 3% 10%;
}
h5::before{
    content: '';
    position: absolute;
    width: 1550px;
    height: 4px;
    background-color: #ad987d;
    top: 0.6em;
}
h5::before{
    left: -930px;
}
#foy{
    font-family: rondalregular;
    color: #e1e1e1;
    margin-bottom: 2%;
}

/*responsive*/

@media screen and (max-width: 1280px) {
    .logo{
        width: 200px;
        margin-left: 30%;
    }
     
    .barra-nav{
        margin-right: 10%;
    }

    nav li {
        padding-top: 65px;
    }

    nav a{
        font-size: 30px;
    }

    section h2{
        font-size: 35px;
        padding: 8% 0 0 4%;
    }

    .slogan{
        width: 40%;
        font-size: 22px;
        padding: 2% 0 0 4%;
    }

    .nosotros {
        width: 100%;
    }

    .imagen1{
        width: 100%;
        margin: 0 2% 0 1%;
    }

    h3 {
        font-size: 50px;
        margin: 3% 0 2% 25%;
    }

    h3::before{
        width: 75px;
    }

    h3::before{
        left: -100px;
    }

    .info1{
        font-size: 40px;
        padding: 5% 0 2% 12%
    }

    .info2{
        font-size: 22px;
        padding: 3% 0 0 15%;
    }

    h4 {
        font-size: 50px;
    }

    h4::before{
        width: 75px;
    }

    h4::before{
        left: -100px;
    }

    .equipo{
        width: 80%;
        margin: 0 10% 0 10%;
    }

    .contenedor-imgA figure img{
        width: 100%
        height: 100%
    }

    .contenedor-imgA figure .capa1{
        width: 100%;
    }

    .contenedor-imgA figure:hover > .capa1 p{
        margin-top: 200px;
    }

    .contenedor-imgA figure .capa1 p{
        font-size: 40px;
    }

    .contenedor-imgA figure .capa1 button{
        font-size: 18px;
    }

    .logo-footer{
        width: 200px; 
    }
    .barra-nav-f{
        padding-top: 0;
        padding-left: 15%;
    }

    .datos{
        padding-top: 3%;
    }

    h5::before{
        width: 1280px;
    }

    h5::before{
        left: -750px
    }
}