/* fuente Rondal */
@font-face {
    font-family: 'rondalbold';
    src: url('./fonts/rondal-bold-webfont.woff2') format('woff2'),
         url('./fonts/rondal-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rondalregular';
    src: url('./fonts/rondal-regular-webfont.woff2') format('woff2'),
         url('./fonts/rondal-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rondalsemibold';
    src: url('./fonts/rondal-semibold-webfont.woff2') format('woff2'),
         url('./fonts/rondal-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html{
    background: #212123;
}

html::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background: none;
}

html::-webkit-scrollbar-thumb{
    height: 5px;
    background: rgba(175, 152, 125, 0.5);
    border-radius: 10px;
    border-color: black;
}

body{
    width: 100%;
    height: 100%;
    background-image: url('../imagenes/fondo.png');
    background-repeat: no-repeat;
    background-size: 100vw;

    font-family: rondalsemibold;
}
header{
    display: flex;
    width: 100%;
    height: auto;
}

.logo{
    width: 250px;
    margin-left: 30%;
}

.main-nav{
    font-family: rondalsemibold;
    font-size: 40px;
    margin-top: 5%;
    margin-left: 11.5%;
}

.toggle-menu img{
    max-width: 100%;
}

.toggle-menu {
  position: absolute;
  top: 4rem;
  right: 5rem;
  cursor: pointer;
  filter: invert(1);
  width: 50px;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .toggle-menu {
    display: none;
    margin-top: 0;
  }
}

.main-menu {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  display: flex;
  flex-direction: column;

  background-color: transparent;
  transition: transform 0.3s;
  transform: translateY(-110%);
}

.main-menu--show {
  transform: translateY(0);
}

.toggle-menu__checkbox {
  display: none;
}

.toggle-menu__checkbox:checked + .main-menu {
  transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .main-menu {
    flex-direction: row;
    transform: translateY(0);
  }
}

.main-menu__item {
  padding: 0.5em;
}

.main-menu__link {
  color: #e1e1e1;
  text-transform: uppercase;
  text-decoration: none;
}

.main-menu__link:hover{
    color: #ad987d;
    text-decoration: underline;
}

h2{
    width: 35%;
    font-family: rondalsemibold;
    font-size: 50px;
    color: #e1e1e1;
    line-height: 1.2;
    padding: 8% 0 0 4%;

}
.slogan{
    width: 40%;
    color: #ad987d;
    font-family: rondalsemibold;
    font-size: 27px;
    line-height: 1.5;
    padding: 2% 0 0 4%;
}

.nosotros{
    width: 100%;
    display: inline-flex;
    margin-top: 12%;
}
.imagen1{
    width: 125%;
    margin: 0 2% 0 10%;
}

h3{
    display: inline-block;
    position: relative;
    font-size: 60px;
    color: #e1e1e1;
    margin: 3% 0 2% 35%;
}

h3::before{
    content: '';
    position: absolute;
    width: 75px;
    height: 7px;
    background-color: #ad987d;
    top: 0.6em;
}

h3::before{
    left: -100px;
}

.info1{
    width: 48%;
    text-transform: uppercase;
    font-size: 45px;
    color: #e1e1e1;
    line-height: 1.5;
    padding: 5% 0 2% 27%;
}

.info2{
    width: 65%;
    font-family: rondalregular;
    color: #ad987d;
    font-size: 27px;
    line-height: 1.5;
    padding: 3% 0 0 27%;
}


.nuestroequipo h4{
    display: inline-block;
    position: relative;
    font-size: 60px;
    color: #e1e1e1;
    margin: 5% 0 0 12%;
}
.nuestroequipo h4::before{
    content: '';
    position: absolute;
    width: 75px;
    height: 7px;
    background-color: #ad987d;
    top: 0.6em;
}
.nuestroequipo h4::before{
    left: -100px;
}

.equipo{
    width: 80%;
    display: flex;
    margin: 0 12% 0 8%;
}

.contenedor-imgA{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor-imgA figure{
    position: relative;
    box-shadow: 0px 1px 15px rgba(173, 152, 125, 0.3);
}

.contenedor-imgA figure img{
    width: 125%;
    height: 125%;
    transition: all 500ms ease-out;
}

.contenedor-imgA figure .capa1{
    position: absolute;
    top: 0;
    width: 125%;
    height: 100%;
    background-color: rgba(175, 152, 125, 0.9);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.contenedor-imgA figure:hover > .capa1{
    opacity: 1;
    visibility: visible;
}

.contenedor-imgA figure:hover > .capa1 p{
    margin-top: 230px;
    margin-bottom: 30px;
}

.contenedor-imgA figure .capa1 p{
    font-family: rondalbold;
    font-size: 45px;
    color: #212123;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;
}

.contenedor-imgA figure .capa1 button{
    font-family: rondalregular;
    font-size: 22px;
    color: #212123;
    padding: 6px;
    background: transparent;
    border: 3px solid #212123;
    border-radius: 6px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer; 
}

.contenedor-imgA figure .capa1 button:hover {
    background-color: #212123;
    color: white;
 }

.contenedor-img2{
    background: #e1e1e1;
    vertical-align: middle;
}
.img-1, .img-2, .img-3, .img-4, .img-5, .img-6{
    width: 10%;
    vertical-align: middle;
    padding: 3%;
}

footer{
    padding-left: 4%;
}

.footer-div{
    display: flex;
}
.logo-footer{
    width: 250px;
    margin-left: 3%;
}
.barra-nav-f{
    display: inline;
    padding-left: 12%;
}
.datos{
    font-family: rondalregular;
    font-size: 20px;
    color: #e1e1e1;
    line-height: 1.3;
    padding-top: 3%;
    padding-left: 1%;
}
.datos a{
    text-decoration: none;
    color: #ad987d;
}
.tel-icono{
    display: flex;
}
.tel{
    width: 30px;
}
.telefono{
    padding-top: 2%;
}

nav li{
    display: inline-flex;
    padding-top: 85px;
}

nav a{
    text-transform: uppercase;
    color: #e1e1e1;
    font-size: 40px;
    text-decoration: none;
    padding: 20px;
}

nav a:hover{
    color: #ad987d;
    text-decoration: underline;
}

.copy{
    text-align: center;
}

.copy h5{
    display: inline-block;
    position: relative;
    font-size: 50px;
    color: #e1e1e1;
    margin: -1% 0 3% 10%;
}

.copy h5::before{
    content: '';
    position: absolute;
    width: 1600px;
    height: 4px;
    background-color: #ad987d;
    top: 0.6em;
}

.copy h5::before{
    left: -940px;
}

#foy{
    font-family: rondalregular;
    color: #e1e1e1;
    margin-bottom: 2%;
}

/*Media Query 1366px*/

@media screen and (max-width: 1366px){
    .logo{
        width: 200px
    }

    .barra-nav-f{
        font-family: rondalsemibold;
        font-size: 30px;
        display: flex;
        padding-left: 15%;
        margin-top: 7%;

    }
    nav a{
        font-size: 30px;
        padding: 5px;
    }
    .barra-nav-f a {
      color: #e1e1e1;
      text-transform: uppercase;
      text-decoration: none;
    }

    nav a:hover{
        color: #ad987d;
        text-decoration: underline;
    }

    section h2 {
        font-size: 35px;
        line-height: 1.2;
        padding: 5% 0 0 4%;
    }

    .slogan{
        width: 40%;
        font-size: 22px;
        line-height: 1.5;
        padding: 2% 0 0 4%;
    }

    .contenedor-sobrenosotros{
        margin-top: -1.5%;
        margin-left: 6%;

    }

    .nosotros{
        width: 100%;
        display: inline-flex;
        margin-top: 12%;
    }

    .imagen1{
        width: 120%;
        margin: 0 2% 0 1%;
    }

    h3{
        display: inline-block;
        position: relative;
        font-size: 50px;
        margin: 3% 0 2% 25%;
    }

    h3::before{
        content: '';
        position: absolute;
        width: 75px;
        height: 7px;
        background-color: #ad987d;
        top: 0.6em;
    }
    
    h3::before{
        left: -100px;
    }

    .info1{
        text-transform: uppercase;
        font-size: 40px;
        color: #e1e1e1;
        line-height: 1.5;
        padding: 5% 0 2% 12%;
    }

    .info2{
        width: 65%;
        font-family: rondalregular;
        color: #ad987d;
        font-size: 22px;
        line-height: 1.5;
        padding: 3% 0 0 15%;
    }

    h4{
        display: inline-block;
        position: relative;
        font-size: 50px;
        color: #e1e1e1;
        margin: 7% 0 -1% 10%;
    }

    h4::before{
        content: '';
        position: absolute;
        width: 75px;
        height: 7px;
        background-color: #ad987d;
        top: 0.6em;
    }

    h4::before{
        left: -100px;
    }

    .equipo{
        width: 80%;
        display: flex;
        margin: 0 10% 0 10%;
    }

    .contenedor-imgA{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .contenedor-imgA figure{
        position: relative;
        overflow: hidden;
        box-shadow: 0px 1px 15px rgba(173, 152, 125, 0.3);
    }
    
    .contenedor-imgA figure img{
        width: 100%;
        height: 100%;
        transition: all 500ms ease-out;
    }

    .contenedor-imgA figure .capa1{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(175, 152, 125, 0.9);
        transition: all 500ms ease-out;
        opacity: 0;
        visibility: hidden;
        text-align: center;
    }

    .contenedor-imgA figure:hover > .capa1{
        opacity: 1;
        visibility: visible;
    }

    .contenedor-imgA figure:hover > .capa1 p{
        margin-top: 200px;
        margin-bottom: 30px;
    }

    .contenedor-imgA figure .capa1 p{
        font-family: rondalbold;
        font-size: 40px;
        color: #212123;
        margin-bottom: 120px;
        transition: all 500ms ease-out;
        margin-top: 30px;
    }

    .contenedor-imgA figure .capa1 button{
        font-family: rondalregular;
        font-size: 18px;
        color: #212123;
        padding: 6px;
        background: transparent;
        border: 3px solid #212123;
        border-radius: 6px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer; 
    }

    .contenedor-imgA figure .capa1 button:hover {
        background-color: #212123;
        color: white;
     }
    
    .contenedor-img2{
        background: #e1e1e1;
        vertical-align: middle;
    }
    .img-1, .img-2, .img-3, .img-4, .img-5, .img-6{
        width: 10%;
        vertical-align: middle;
        padding: 3%;
    }


    .barra-nav-f li{
        padding: 0.5em;
    }

    .contenedor-lista{
        margin-top: 10%;
    }

    div .linea{
        display: flex;
        position: relative;
        font-size: 50px;
        color: #e1e1e1;
        margin: 5% 0 0 10%;
    }

    div .linea::before{
        content: '';
        position: absolute;
        width: 675px;
        height: 2px;
        background-color: #ad987d;
        top: -0.6em;
    }

    div .linea::before{
        left: -65px;
    }

    .logo-footer{
        width: 200px;
        margin-left: -8%;
        margin-top: 6%;
    }

    .datos{
        font-family: rondalregular;
        font-size: 20px;
        color: #e1e1e1;
        line-height: 1.3;
        margin: 1% 0 0 -3%;

    }

    .barra-nav-f{
        font-family: rondalsemibold;
        font-size: 30px;
        display: flex;
        padding-left: 15%;
        margin-top: 7%;
        margin-left: -7%;
    }

    .copy .arriba::before{
         content: '';
        position: absolute;
        width: 1170px;
        height: 4px;
        background-color: #ad987d;
        top: 0.6em;
    }
    .copy .arriba::before{
        left: -670px;
    }

    .copy h5::before{
        content: '';
        position: absolute;
        width: 1170px;
        height: 4px;
        background-color: #ad987d;
        top: 0.6em;
    }

    .copy h5::before{
        left: -670px;
    }
}

/*Media Query 768px*/

@media screen and (max-width: 768px) {

    body{
        width: 100%;
        height: 100%;
        background-image: url('../imagenes/fondo.png');
        background-repeat: no-repeat;
        background-size: 135vw;
    }

    .logo{
        width: 200px;
        margin-left: -3%;
    }

    section h2{
        width: 80%;
        font-family: rondalsemibold;
        font-size: 50px;
        color: #e1e1e1;
        line-height: 1.2;
        padding: 8% 0 0 9.4%;
        text-align: center;
        margin-top: 5%;
    }
    .slogan{
        width: 90%;
        color: #ad987d;
        font-family: rondalsemibold;
        font-size: 27px;
        line-height: 1.5;
        padding: 2% 0 0 4%;
        text-align: center;
    }

    .imagen1{
        display: none;
    }

    .contenedor-sobrenosotros{
        width: 100%;
    }

    h3{
        display: inline-block;
        position: relative;
        font-size: 60px;
        color: #e1e1e1;
        margin: 3% 25% 2% 25%;
        text-align: center;
    }

    .info1{
        width: 80%;
        font-size: 45px;
        text-align: center;
        margin-left: -6%;
    }

    .info2{
        width: 90%;
        font-size: 27px;
        text-align: center;
        margin-left: -13%;
    }

    .nuestroequipo{
        text-align: center;
        margin-left: 6%;
        margin-bottom: 25%;
    }


    .nuestroequipo h4{
        display: inline-block;
        position: relative;
        font-size: 60px;
        color: #e1e1e1;
        margin: 20% 12% 2% 12%;
    }

    .equipo{
        width: 80%;
        display: inline;
        margin: 0 12% 0 8%;
    } 

    .contenedor-imgA{
        margin-top: -40%;
    }

    .contenedor-img2{
        background: #e1e1e1;
        vertical-align: middle;
        margin-top: -10%;
    }


    footer{
        padding: 0;
    }

    .copy .arriba{
        display: inline-block;
        position: relative;
        font-size: 50px;
        color: #e1e1e1;
        margin: -1% 0 2% 10%;
    }

    .copy .arriba::before{
        content: '';
        position: absolute;
        width: 745px;
        height: 4px;
        background-color: #ad987d;
        top: 0.6em;
    }
    .copy .arriba::before{
        left: -410px;
    }

    .footer-div{
        display: flex;
    }

    .logo-footer{
        width: 250px;
        margin-left: -15%;
        margin-top: 6%;
    }

    .barra-nav-f{
        width: 110px;
        font-family: rondalsemibold;
        font-size: 25px;
        display: flex;
        padding-left: 20%;
        margin-top: 7%;

    }
    nav a{
        font-size: 25px;
        padding: 5px;
    }
    .barra-nav-f a {
      color: #e1e1e1;
      text-transform: uppercase;
      text-decoration: none;
    }

    nav a:hover{
        color: #ad987d;
        text-decoration: underline;
    }

    .barra-nav-f li{
        padding: 0.5em;
    }
    
    .datos{
        font-family: rondalregular;
        font-size: 20px;
        color: #e1e1e1;
        line-height: 1.3;
        margin: 8% 0 0 -3%;

    }

    .datos a{
        text-decoration: none;
        color: #ad987d;
    }

    .tel-icono{
        display: flex;
    }

    .tel{
        width: 30px;
    }

    .telefono{
        padding-top: 2%;
    }

    .copy{
        text-align: center;
    }

    .copy h5{
        display: inline-block;
        position: relative;
        font-size: 50px;
        color: #e1e1e1;
        margin: -1% 0 2% 10%;
    }

    .copy h5::before{
        content: '';
        position: absolute;
        width: 745px;
        height: 4px;
        background-color: #ad987d;
        top: 0.6em;
    }

    .copy h5::before{
        left: -410px;
    }

    #foy{
        font-family: rondalregular;
        color: #e1e1e1;
        margin-bottom: 2%;
        margin-top: 3%;
    }

}