/*fuente Rondal*/
@font-face {
    font-family: 'rondalbold';
    src: url('./fonts/rondal-bold-webfont.woff2') format('woff2'),
         url('./fonts/rondal-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rondalregular';
    src: url('./fonts/rondal-regular-webfont.woff2') format('woff2'),
         url('./fonts/rondal-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rondalsemibold';
    src: url('./fonts/rondal-semibold-webfont.woff2') format('woff2'),
         url('./fonts/rondal-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html{
    background: #212123;
}
body{
    width: 100%;
    height: 100%;
    background-image: url('../imagenes/fondo.png');
    background-repeat: no-repeat;
    background-size: 100%;

    font-family: rondalsemibold;
}
header{
    display: flex;
    width: 100%;
    height: auto;
}

.logo{
    width: 200px;
    margin-left: 30%;
}

.barra-nav{
    width: 100%;
    text-align: center;
    margin-right: 10%;
}

nav li{
    display: inline-flex;
    padding-top: 65px;
}

nav a{
    text-transform: uppercase;
    color: #e1e1e1;
    font-size: 30px;
    text-decoration: none;
    padding: 20px;
}

div h2{
    font-family: rondalsemibold;
    font-size: 35px;
    color: #e1e1e1;
    line-height: 1.2;
    padding: 8% 0 0 4%;
}
.slogan{
    color: #ad987d;
    font-family: rondalsemibold;
    font-size: 22px;
    line-height: 1.5;
    text-align: justify;
    padding: 2% 0 0 4%;
}
.nosotros{
    width: 100%;
    display: inline-flex;
    margin-top: 10%;
}
.imagen1{
    margin: 0 2% 0 1%;  
}

h3{
    display: inline-block;
    position: relative;
    font-size: 50px;
    color: #e1e1e1;
    margin: 3% 0 2% 25%;
}

h3::before{
    content: '';
    position: absolute;
    width: 75px;
    height: 7px;
    background-color: #ad987d;
    top: 0.6em;
}
h3::before{
    left: -100px;
}

.info1{
    text-transform: uppercase;
    font-size: 40px;
    color: #e1e1e1;
    line-height: 1.5;
    padding: 5% 0 2% 12%;
}

.info2{
    font-family: rondalregular;
    color: #ad987d;
    font-size: 22px;
    line-height: 1.5;
    padding: 3% 0 0 15%;
}
.barberos{
    width: 100%
    margin: 0 auto;
    padding: 50px;
}

h4{
    display: inline-block;
    position: relative;
    font-size: 50px;
    color: #e1e1e1;
    margin: 3% 0 2% 10%;
}
h4::before{
    content: '';
    position: absolute;
    width: 75px;
    height: 7px;
    background-color: #ad987d;
    top: 0.6em;
}
h4::before{
    left: -100px;
}

.contenedor-img{
    margin: 3% 0 0 8%;
}
.barberos li{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 0 2% 0 2%;
    box-sizing: border-box;
    animation: "animate__zoomInLeft"
}
.contenedor-img2{
    background: #e1e1e1;
    vertical-align: middle;
}
.img-1, .img-2, .img-3, .img-4, .img-5, .img-6{
    width: 10%;
    vertical-align: middle;
    padding: 3%;
}

footer{
    padding-left: 4%;
}
.footer-div{
    display: flex;
}
.logo-footer{
    width: 200px;
    margin-left: 3%;
}
.barra-nav-f{
    display: inline;
    padding-left: 15%;
}
.datos{
    font-family: rondalregular;
    font-size: 18px;
    color: #e1e1e1;
    line-height: 1.3;
    padding-top: 3%;
    padding-left: 1%;
}
.tel-icono{
    display: flex;
}
.tel{
    width: 30px;
}
.telefono{
    padding-top: 2%;
}
.copy{
    text-align: center;
}

h5{
    display: inline-block;
    position: relative;
    font-size: 50px;
    color: #e1e1e1;
    margin: -1% 0 3% 10%;
}
h5::before{
    content: '';
    position: absolute;
    width: 1280px;
    height: 4px;
    background-color: #ad987d;
    top: 0.6em;
}
h5::before{
    left: -750px;
}
#foy{
    font-family: rondalregular;
    color: #e1e1e1;
    margin-bottom: 2%;
}